<div class="field">
  {{input type="text" value=model.name}}
</div>
<div class="field">
  {{input type="text" value=model.path}}
</div>
<div class="field">
  {{input type="date" value=model.activeOn}}
</div>
<div class="field">
  {{textarea value=model.content}}
</div>
