/*
 *= require admin/spree_backend
*/

.static-page-form {
    input[type=text],[type=date] {
	width: 100%;
    }
    textarea {
	width: 100%;
	height: 600px;
	line-height: 1.3;
	font-size: 1.2em;
    }
}

h2.is-dirty {
    font-style: italic;
    &:after {
	content: "*"
    }
}

span.error {
    color: red;
}
